@font-face {
    font-family: myFont;
    src: url("../resources/fonts/911porschav3bold.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #21245E;
    font-family: myFont;
}

html {
    scroll-behavior: smooth;
}

li,
a,
button {
    font-family: sans-serif;
    font-weight: 31.25rem;
    font-size: 1.25rem;
    color: whitesmoke;
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem;
    background-color: #21245E;
}

.brand-title{
    font-size: 2rem;
    margin: .5rem;
}

.nav_links{
    height: 100%;
}

.nav_links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.nav_links li{
    list-style: none;
    padding: 1rem;
}

.nav_links li a{
    font-family: sans-serif;
    text-decoration: none;
    color: white;
    display: block;
}

.nav_links li a:hover {
    color: #0088a9;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.fa-brands {
    padding: 0 0.3125rem;
    background-color: #21245E;
    color: rgba(94, 255, 62, 1);
}

.contactus:hover>.fa-brands {
    color: rgba(94, 255, 62, 0.7);
}

/* .introvid {
    color: whitesmoke;
    background-color: #191919;
    height: 600px;
    text-align: center;
    font-size: 70px;
    margin: 0;
}

.introvid video {
    background-color: #191919;
    width: 100% ;
    height :80%;
    background-size: cover;
    background-position: center;
} */
.section1 {
    position: relative;
    /* width: 100%; */
    height: 62.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .section1-txt0{
    text-align: center;
    font-size: 2rem;
    font-family: "Cookie";
    /* padding: 20px;
    margin: 15px; */
    background-color: transparent;
    opacity: 0.7;
    z-index: 1;
    color: whitesmoke;
  }
  
.txt0,.reg-btn2-outer{
    background-color: transparent;
}

.video-container0 {
position: absolute;
top: 0;
left: 0;
width: 100%;
}

.mute{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 8rem;
    height: 8rem;
    background-color: transparent;
    margin: 0 3rem 3rem 0;
    border: none;
}

.fa-volume-high, .fa-volume-xmark{
    background-color: transparent;
    visibility: visible;
}

.aboutus {
    padding: 1.5%;
    font-size: 1.875rem;
}

.paras1 {
    display: inline-block;
    padding: auto;
    width: 80%;
    text-align: center;
    justify-content: center;
}


.p1,
.p2 {
    font-family: sans-serif;
    font-size: 1.3125rem;
}

.p2 {
    margin-top: 1.875rem;
}

.about-us {
    text-align: center;
    padding: 3.125rem 0.9375rem;
    color: whitesmoke;
}

.pic1 {
    /* background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    width: 100%;
    height: 62.5rem; */
    background-image: url("../resources/hills.jpg");
    width: 100%;
    padding-top: 50.25%;
    background-size: cover;
    background-position: center;
}

/* .pic1-item1 {
    background-image: url("../resources/hills.jpg");
    width: 100%;
    padding-top: 50.25%;
    background-size: cover;
    background-position: center;
} */

/* .type-of-travel{
    background-color: white;
    padding: 30px 0;
}

.tot-imgcolumn{
    width: 25%;
    height: 364px;
} */

.tot-outer {
    /* height: 30%; */
    background-color: white;
    /* padding-left: 30px; */
}


.tot-grid {
    padding: 1.25rem 0;
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.tot-grid-item {
    min-width: 20%;
    width: 10%;
    background-color: white;
    /* margin: 0.3125rem; */
}
.tot-grid-item img{
    width: 100%;
}

.tot-grid-item:hover {
    transform: scale(1.1);
    transition: transform linear 300ms;
}

.reg-btn-outer {
    padding-top: 3.125rem;
    background-color: white;
    text-align: center;
}

.reg-btn {
    padding: 0.625rem 1.25rem;
    border-radius: 1.25rem;
}

.fav-dest {
    background-color: white;
    padding: 1.875rem;
    color: #21245E;
    text-align: center;
    padding-bottom: 1.875rem;
}

.fav-dest h2 {
    margin: 1.25rem;
    padding-bottom: 1.875rem;
    color: #21245E;
    background-color: white;
    font-size: xx-large;
}

.outer-grid {
    height: 70em;
    margin: 0;
}

.grid {
    background-color: white;
    display: grid;
    padding: 0 7.5rem 1rem 7.5rem;
    grid-template-columns: 2;
    grid-template-rows: 2;
    width: 100%;
    height: 100%;
}

.grid-item1 {
    background-image: url("../resources/spain1.png");
    background-size: cover;
    font-size: xx-large;
    color: white;
    background-position: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

.grid-item2 {
    background-image: url("../resources/dubai1.png");
    background-size: cover;
    font-size: xx-large;
    color: white;
    background-position: center;
    grid-column: 2/2;
    grid-row: 1/2;
}

.grid-item3 {
    background-image: url("../resources/usa1.png");
    background-size: cover;
    font-size: xx-large;
    color: white;
    background-position: center;
    grid-column: 1/2;
    grid-row: 2/2;
}

.grid-item4 {
    background-image: url("../resources/germany1.png");
    background-size: cover;
    font-size: xx-large;
    color: white;
    background-position: center;
    grid-column: 2/2;
    grid-row: 2/2;
}

.grid-item1:hover,
.grid-item2:hover,
.grid-item3:hover,
.grid-item4:hover {
    transform: scale(1.02);
    transition: transform linear 300ms;

}

/* .grid-item-text{
    background-color: transparent;
    font-size: 60px;
    padding: 30% 0 0 0  ;
} */

.txt2 {
    font-size: 1.875rem;
    text-align: center;
    padding: 1.875rem 0 2.5rem 0;
    background-color: white;
}

.pic2 {
    background-image: url("../resources/dashboard\ new-02.png");
    width: 100%;
    padding-top: 50.25%;
    background-size: cover;
    background-position: center;
}

/* .text3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(44, 44, 44);
    justify-content: center;
    height: 600px;
} */

/* .txt3 {
    background-color: rgb(44, 44, 44);
    color: whitesmoke;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
} */

.reg-btn2-outer {
    margin: 1.5625rem;
}

.reg-btn2 {
    color: #191919;
    background-color: white;
    padding: 0.9375rem 1.5625rem;
    border-radius: 25px;
}

.reg-btn2:hover{
    background-color: whitesmoke;
    color: rgb(86, 86, 86);
}


footer {
    font-family: sans-serif;
    font-size: large;
    font-weight: 300;
    color: white;
    padding: 1.875rem 0px;
    text-align: center;
}

footer p small{
    font-family: sans-serif;
}

.section {
    position: relative;
    width: 100%;
    height: 62.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .section-txt3{
    text-align: center;
    font-size: 2rem;
    color: white;
    background-color: transparent;
    opacity: 0.7;
    z-index: 1;
  }
  
.txt3,.reg-btn2-outer{
    background-color: transparent;
}

  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media screen and (max-width:1000px){
    .outer-grid{
        height: 100em;
    }
    .grid {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        padding: 0 0.5rem 1rem 0.5rem;
    }
    
    .grid-item1 {
        background-image: url("../resources/spain1.png");
        background-size: cover;
        background-repeat: no-repeat;
        flex:100%
    }
    
    .grid-item2 {
        background-image: url("../resources/dubai1.png");
        background-size: cover;
        background-repeat: no-repeat;
        flex:100%
    }
    
    .grid-item3 {
        background-image: url("../resources/usa1.png");
        background-size: cover;
        background-repeat: no-repeat;
        flex:100%
    }
    
    .grid-item4 {
        background-image: url("../resources/germany1.png");
        background-size: cover;
        background-repeat: no-repeat;
        flex:100%
    }
    .grid-item1:hover,
    .grid-item2:hover,
    .grid-item3:hover,
    .grid-item4:hover {
        transform: scale(1);
    }
}

@media screen and (max-width: 1561px){
    .tot-grid{
        justify-content: space-around;
    }
    .tot-grid-item {
        min-width: 20%;
        background-color: white;
    }
    .tot-grid-item:hover {
        transform: scale(1);
    }
}

@media screen and (max-width:900px){
    .toggle-button{
        margin-top: 0.8rem;
    }
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .toggle-button {
        display: flex;
    }

    .nav_links {
        display: none;
        width: 100%;
    }

    .nav_links ul {
        width: 100%;
        flex-direction: column;
    }

    .nav_links ul li {
        text-align: center;
    }

    .nav_links ul li a {
        padding: 0 1rem;
    }

    .nav_links.active {
        display: flex;
    }
}