* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #21245E;
}

html {
    scroll-behavior: smooth;
}

li,
a,
button {
    font-family: sans-serif;
    font-weight: 500px;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
}

header {
    background-color: #21245E;
    display: flexbox;

    align-items: center;
    padding: 20px 5%;
}

.logo {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: whitesmoke;
    cursor: pointer;
    margin: 10px auto;
    padding: 10px auto;
    font-size: 30px;
}


.nav_links {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.fa-brands {
    padding: 0 5px;
    background-color: #21245E;
    color: rgba(94, 255, 62, 1);
}

.contactus:hover>.fa-brands {
    color: rgba(94, 255, 62, 0.7);
}

.introvid {
    color: whitesmoke;
    background-color: #191919;
    /* height: 600px; */
    text-align: center;
    /* font-size: 70px; */
    /* margin: 0; */
}

.introvid video {
    background-color: #191919;
    
    /* background-image: url("../resources/dashboard\ new-02.png"); */
    /* width: 100%; */
    /* padding-top: 50.25%; */
    width: 100% ;
    /* height :600px; */
    background-size: cover;
    background-position: center;
    /* margin: 0; */
}

.aboutus {
    padding: 1.5%;
    font-size: 30px;
}

.paras1 {
    display: inline-block;
    padding: auto;
    width: 80%;
    text-align: center;
    justify-content: center;
}


.p1,
.p2 {
    font-size: 21px;
}

.p2 {
    margin-top: 30px;
}

.about-us {
    text-align: center;
    padding: 50px 15px;
    color: whitesmoke;
}

.pic1 {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    width: 100%;
    height: 1000px;

}

.pic1-item1 {
    background-image: url("../resources/hills.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/1;
    grid-row: 1/1;
}

/* .type-of-travel{
    background-color: white;
    padding: 30px 0;
}

.tot-imgcolumn{
    width: 25%;
    height: 364px;
} */

.tot-outer {
    /* height: 30%; */
    background-color: white;
    /* padding-left: 30px; */
}


.tot-grid {
    padding: 20px 0;
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
}

.tot-grid-item {
    width: 20%;
    background-color: white;
    margin: 5px;
}
.tot-grid-item img{
    width: 100%;
}

.tot-grid-item:hover {
    transform: scale(1.1);
    transition: transform linear 300ms;
}

.reg-btn-outer {
    padding-top: 50px;
    background-color: white;
    text-align: center;
}

.reg-btn {
    padding: 10px 20px;
    border-radius: 20px;
}

.fav-dest {
    background-color: white;
    padding: 30px;
    color: #21245E;
    text-align: center;
    padding-bottom: 30px;
}

.fav-dest h2 {
    margin: 20px;
    padding-bottom: 30px;
    color: #21245E;
    background-color: white;
    font-size: xx-large;
}

.outer-grid {
    height: 70em;
    margin: 0;
}

.grid {
    background-color: white;
    display: grid;
    padding: 0 7.5rem;
    grid-template-columns: 2;
    grid-template-rows: 2;
    width: 100%;
    height: 100%;
}

.grid-item1 {
    background-image: url("../resources/spain1.png");
    background-size: cover;
    font-size: xx-large;
    color: white;
    background-position: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

.grid-item2 {
    background-image: url("../resources/dubai1.png");
    background-size: cover;
    font-size: xx-large;
    color: white;
    background-position: center;
    grid-column: 2/2;
    grid-row: 1/2;
}

.grid-item3 {
    background-image: url("../resources/usa1.png");
    background-size: cover;
    font-size: xx-large;
    color: white;
    background-position: center;
    grid-column: 1/2;
    grid-row: 2/2;
}

.grid-item4 {
    background-image: url("../resources/germany1.png");
    background-size: cover;
    font-size: xx-large;
    color: white;
    background-position: center;
    grid-column: 2/2;
    grid-row: 2/2;
}

.grid-item1:hover,
.grid-item2:hover,
.grid-item3:hover,
.grid-item4:hover {
    transform: scale(1.02);
    transition: transform linear 300ms;

}

/* .grid-item-text{
    background-color: transparent;
    font-size: 60px;
    padding: 30% 0 0 0  ;
} */

.txt2 {
    font-size: 30px;
    text-align: center;
    padding: 30px 0 40px 0;
    background-color: white;
}

.pic2 {
    background-image: url("../resources/dashboard\ new-02.png");
    width: 100%;
    padding-top: 50.25%;
    background-size: cover;
    background-position: center;
}

.text3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(44, 44, 44);
    justify-content: center;
    height: 600px;
}

.txt3 {
    background-color: rgb(44, 44, 44);
    color: whitesmoke;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}

.reg-btn2-outer {
    margin: 25px;
}

.reg-btn2 {
    color: #191919;
    background-color: white;
    padding: 15px 25px;
    border-radius: 25px;
}

footer {
    font-size: large;
    font-weight: 300;
    color: white;
    padding: 30px 0px;
    text-align: center;
}